<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>
    <ui:composition>
        <label style="display: none">First Name</label>
        <h:inputHidden value="#{editBean.contact.id}"/>
        <label>First Name</label>
        <p:inputText value="#{editBean.contact.firstName}"
                     required="true" requiredMessage="Value is required" validator="noBlankSpaceValidator"/>
        <label>Last Name</label>
        <p:inputText value="#{editBean.contact.lastName}"
                     required="true" requiredMessage="Value is required" validator="noBlankSpaceValidator"/>
        <label>Phone</label>
        <p:inputMask value="#{editBean.contact.phone}" mask="999999999999"
                     required="true" requiredMessage="Value is required" validator="phoneValidator"/>
    </ui:composition>
</h:body>
</html>