<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Edit contact</title>
    <style type="text/css">
        .ui-panelgrid td, .ui-panelgrid tr {
            border-style: none !important
        }
    </style>
</h:head>
<h:form id="editContactDialogForm">
    <p:fieldset toggleable="false">
        <p:panelGrid columns="2">
            <ui:insert name="content">
                <ui:include src="content.xhtml"/>
            </ui:insert>
            <p:commandButton action="#{contactsBean.updateContact}" value="Save">
                <f:setPropertyActionListener target="#{contactsBean.contact}" value="#{editBean.contact}"/>
            </p:commandButton>
        </p:panelGrid>
    </p:fieldset>
</h:form>
<h:body>
</h:body>
</html>
