<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Contacts</title>
    <style type="text/css">
        .ui-panelgrid td, .ui-panelgrid tr {
            border-style: none !important
        }
    </style>
</h:head>
<h:body>
    <p:dialog header="Add contact" id="addContactDialogId"  widgetVar="addContactDialogVar" modal="true" closable="true" resizable="false">
        <h:form id="addContactDialogForm">
            <p:fieldset toggleable="false">
                <p:panelGrid columns="2">
                    <ui:insert name="content">
                        <ui:include src="content.xhtml"/>
                    </ui:insert>
                    <p:commandButton action="#{contactsBean.add}"
                                     update=":addContactDialogForm, :contactsForm:contactList"
                                     value="Save" oncomplete="PF('addContactDialogVar').hide();">
                        <f:setPropertyActionListener target="#{contactsBean.contact}" value="#{editBean.contact}"/>
                    </p:commandButton>
                </p:panelGrid>
            </p:fieldset>
        </h:form>
    </p:dialog>
    <p:messages id="messages" showDetail="true" showSummary="true" closable="true">
        <p:autoUpdate/>
    </p:messages>
    <h:form id="addContactForm">
        <p:fieldset id="addFieldset" collapsed="true" legend="Add contact"
                    toggleable="true" toggleSpeed="500">
            <p:ajax event="toggle"/>
            <p:panelGrid columns="3">
                <label>First Name</label>
                <p:inputText id="firstName" value="#{contactsBean.contact.firstName}"
                             required="true" requiredMessage="Value is required" validator="noBlankSpaceValidator"/>
                <p:message for="firstName"/>
                <label>Last Name</label>
                <p:inputText id="lastName" value="#{contactsBean.contact.lastName}"
                             required="true" requiredMessage="Value is required" validator="noBlankSpaceValidator"/>
                <p:message for="lastName"/>
                <label>Phone</label>
                <p:inputMask id="phone" value="#{contactsBean.contact.phone}" mask="999999999999"
                             required="true" requiredMessage="Value is required" validator="phoneValidator"/>
                <p:message for="phone"/>
                <p:commandButton id="addContactButton"
                                 action="#{contactsBean.add}"
                                 update=":addContactForm, :contactsForm:contactList"
                                 value="Save">
                </p:commandButton>
            </p:panelGrid>
        </p:fieldset>
        <br/>
    </h:form>
    <h:form>
        <p:commandButton id="addContactShowDialogButton"
                         action="#{contactsBean.showAddContactDialog}"
                         value="Show add contact dialog">
        </p:commandButton>
        <br/>
        <br/>
    </h:form>
    <h:form id="contactsForm">
        <p:dataTable id="contactList" widgetVar="contactListVar" var="contact" value="#{contactsBean.contacts}" editable="true">
            <p:ajax event="rowEdit" listener="${contactsBean.onRowEdit}"
                    update="contactList"/>
            <f:facet name="header">
                Contacts
            </f:facet>
            <p:column headerText="Id">
                <h:outputText value="#{contact.id}"/>
            </p:column>

            <p:column headerText="First name">
                <p:cellEditor id="firstNameCellEditor">
                    <f:facet name="output">
                        <h:outputText value="${contact.firstName}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="${contact.firstName}" style="width:100%"
                                     required="true" requiredMessage="Value is required" id="firstNameInput">
                            <f:validator validatorId="noBlankSpaceValidator"/>
                        </p:inputText>
                        <p:message for="firstNameInput"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Last Name">
                <p:cellEditor id="lastNameCellEditor">
                    <f:facet name="output">
                        <h:outputText value="${contact.lastName}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="${contact.lastName}" style="width:100%" required="true"
                                     requiredMessage="Value is required" id="lastNameInput">
                            <f:validator validatorId="noBlankSpaceValidator"/>
                        </p:inputText>
                        <p:message for="lastNameInput"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Phone">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="${contact.phone}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="${contact.phone}" required="true" requiredMessage="Value is required"
                                     id="phoneInput">
                            <f:validator validatorId="phoneValidator"/>
                        </p:inputText>
                        <p:message for="phoneInput"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Inline edit" style="width:50px">
                <p:rowEditor/>
            </p:column>
            <p:column headerText="Dialog edit" style="width:50px">
                <p:commandButton actionListener="#{contactsBean.showEditContactDialog(contact)}" icon="ui-icon-pencil">
                    <p:ajax event="dialogReturn" update="contactList"/>
                </p:commandButton>
            </p:column>
            <p:column headerText="Delete" style="width:50px">
                <p:commandButton update="contactList" icon="ui-icon-close"
                                 action="#{contactsBean.delete(contact)}">
                </p:commandButton>
            </p:column>
        </p:dataTable>
    </h:form>
</h:body>
</html>